// Variables

//Font Variables
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'PT Serif', serif;
// $tertiaryFont: 'Circular Std';


// Color Variables
$primaryColor: #fff;
$primary2Color: #000;
$secondaryColor: #878a95;
$tertiaryColor: #25373c;
$quaternaryColor: #272b2e;
$quinary: #f9f5f0;
$senaryColor: #d7d7d7;
$septenaryColor: #f7f7f7;
$octonaryColor: #8e8d8e;
$nonaryColor: #ab121a;
$denaryColor: #214167;
$colorXIColor: #f3f3f3;
$colorXIIColor: #101012;
$colorXIIIColor: #a5a9b5;

$elementsColor:#bc9265;
$elementsColorII:#c59868;
$elementsColorIII:#c89a69;
// $elementsColorIV:#3d84c6;
// $elementsColorV:#fcc73e;


